@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

// Header
.navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 1.5rem 0;
    transition: all 0.3s ease;

    &.scrolled {
        @include m.glass-effect;
        padding: 1rem 0;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        font-family: v.$font-heading;
        font-size: 1.5rem;
        font-weight: v.$fw-bold;
        color: v.$white;

        span {
            color: v.$color-primary;
        }
    }

    .nav-links {
        display: flex;
        gap: v.$space-lg;

        a {
            color: v.$text-muted;
            font-weight: v.$fw-medium;
            font-family: v.$font-heading;
            letter-spacing: v.$ls-wide;

            &:hover,
            &.active {
                color: v.$color-primary;
            }
        }

        @include m.mobile {
            display: none; // TODO: Implement mobile menu
        }
    }
}