@use '../abstracts/mixins' as m;

.blog-container {
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 2rem;
    margin-top: 100px;
    margin-bottom: 50px;
    min-height: 60vh;

    @include m.mobile {
        grid-template-columns: 1fr;
    }
}