@use '../abstracts/variables' as v;

body {
    font-family: v.$font-body;
    font-size: v.$fs-md;
    line-height: v.$lh-normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: v.$font-heading;
    font-weight: v.$fw-bold;
    line-height: v.$lh-tight;
}

h1 {
    font-size: v.$fs-h1;
}

h2 {
    font-size: v.$fs-h2;
}

h3 {
    font-size: v.$fs-h3;
}

h4 {
    font-size: v.$fs-h4;
}